body {
  box-sizing: border-box;
  height: 640px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 360px;
}

.recomendationsContainer {
  border: 1px solid red;
  width: 250px;
}

.recomendationItem {
  margin: 10px
}

